<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/engineered/css/base.css" />
    <title>{% block title %}Engineered{% endblock %}</title>
</head>

<body>

{% block content %}{% endblock %}

<hr />
<address>
&copy;2009 <a href="mailto:robinarmstrong@ucla.edu">Robin Armstrong</a>. Webmaster: <a href="mailto:santoso.wijaya@engineering.ucla.edu">Santoso Wijaya</a>.
</address>
<p>
<a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
</p>

</body>
</html>
