<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://media.trianglebruins.com/css/base.css" />
    <title>{% block title %}Engineered{% endblock %}</title>
</head>

<body>

<img class="banner" src="http://media.trianglebruins.com/img/banner.jpg" />

{% block content %}{% endblock %}

<div class="menu">
  <ul>
    <li class="first"><a href="{% url comics.views.latest %}">Home</a></li>
    <li><a href="{% url comics.views.archive %}">Archive</a></li>
    <li><a href="{% url comics.views.contact %}">Contact</a></li>
    <li><a href="http://www.facebook.com/pages/Engineered-Comic/166199156239">Facebook</a></li>
  </ul>
</div>

<div class="signature">
<hr />
<address>
&copy;2009 <a href="{% url comics.views.contact %}">Robin Armstrong</a>. Webmaster: <a href="{% url comics.views.contact %}">Santoso Wijaya</a>.
</address>
</div>

<p>
<a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("UA-9427038-3");
    pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
