<html>
<head><title>Engineered - A Webcomic - {{ strip.title }}</title></head>


<body>


<h1>{{ strip.title }}</h1>
<br />
<br />

<div class="menu">
  <ul>
    <li><a href="{% url comics.views.strip 1 %}">|&lt;</a></li>
    <li><a href="{% url comics.views.strip prev.id %}">&lt; Prev</a></li>
    <li><a href="{% url comics.views.random %}">Random</a></li>
    <li><a href="{% url comics.views.strip next.id %}">Next &gt;</a></li>
    <li><a href="{% url comics.views.latest %}">&gt;|</a></li>
  </ul>
</div>
<br />
<br />

<img src="/site_media/{{ strip.strip.url }}" title="{{ strip.alt_text }}" alt="{{ strip.title }}" />
<br />

<div class="menu">
  <ul>
    <li><a href="{% url comics.views.strip 1 %}">|&lt;</a></li>
    <li><a href="{{ prev.permalink }}">&lt; Prev</a></li>
    <li><a href="{% url comics.views.random %}">Random</a></li>
    <li><a href="{{ next.permalink }}">Next &gt;</a></li>
    <li><a href="{% url comics.views.latest %}">&gt;|</a></li>
  </ul>
</div>

<h3>Permanent link to this comic: {{ strip.permalink }}</h3>
<h3>Image URL: http://localhost:8000/site_media/{{ strip.strip.url }}</h3>


</body>
</html>
