<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
  <title>Engineered - {{ strip.title }}</title>
  <link rel="stylesheet" type="text/css" href="/static/engineered/css/base.css" />
</head>


<body>


<h1>{{ strip.title }}</h1>
<br />
<br />

<div class="menu">
  <ul>
    <li><a href="{% url comics.views.strip 1 %}">|&lt;</a></li>
    <li><a href="{% url comics.views.strip prev.id %}">&lt; Prev</a></li>
    <li><a href="{% url comics.views.random %}">Random</a></li>
    <li><a href="{% url comics.views.strip next.id %}">Next &gt;</a></li>
    <li><a href="{% url comics.views.latest %}">&gt;|</a></li>
  </ul>
</div>
<br />
<br />

<img class="strip" src="{{ strip.strip.url }}" title="{{ strip.alt_text }}" alt="{{ strip.title }}" />
<br />

<div class="menu">
  <ul>
    <li><a href="{% url comics.views.strip 1 %}">|&lt;</a></li>
    <li><a href="{{ prev.permalink }}">&lt; Prev</a></li>
    <li><a href="{% url comics.views.random %}">Random</a></li>
    <li><a href="{{ next.permalink }}">Next &gt;</a></li>
    <li><a href="{% url comics.views.latest %}">&gt;|</a></li>
  </ul>
</div>
<br />
<br />

<h3>Permanent link to this comic: {{ strip.permalink }}</h3>
<h3>Image URL: {{ strip.strip.url }}</h3>
<br />
<br />

<hr />
<address>
&copy;2009 <a href="mailto:robinarmstrong@ucla.edu">Robin Armstrong</a>. Webmaster: <a href="mailto:santoso.wijaya@engineering.ucla.edu">Santoso Wijaya</a>.
</address>


</body>
</html>
