<html>
<head><title>Engineered - A Webcomic - {{ strip.title }}</title></head>


<body>


<h1>{{ strip.title }}</h1>
<br />
<br />

<div class="menu">
  <ul>
    <li><a href="{% url comics.views.strip 1 %}">|&lt;</a></li>
    <li><a href="{% url comics.views.strip prev %}">&lt; Prev</a></li>
    <li><a href="{% url comics.views.random %}">Random</a></li>
    <li><a href="{% url comics.views.strip next %}">Next &gt;</a></li>
    <li><a href="{% url comics.views.latest %}">&gt;|</a></li>
  </ul>
</div>
<br />
<br />

<img src="{{ strip.strip.path }}" title="{{ strip.alt-text }}" alt="{{ strip.title }}" />
<br />

<div class="menu">
  <ul>
    <li><a href="{% url comics.views.strip 1 %}">|&lt;</a></li>
    <li><a href="{% url comics.views.strip prev %}">&lt; Prev</a></li>
    <li><a href="{% url comics.views.random %}">Random</a></li>
    <li><a href="{% url comics.views.strip next %}">Next &gt;</a></li>
    <li><a href="{% url comics.views.latest %}">&gt;|</a></li>
  </ul>
</div>

<h3>Permanent link to this comic: {% url comics.views.strip strip.id %}</h3>
<h3>Image URL: {{ strip.strip.path }}</h3>


</body>
</html>
